/*navigationbar*/

nav .nav-img img {
    width: 100px;
    margin-left: 20px;
}

.nav-manu ul {
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    margin-right: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 0px;
    background-image: linear-gradient(75deg, #000046, #1cb5e0);
    height: 100vh;
    transition: 0.3s
}

.nav-manu ul li {
    margin-top: 40px;
}

.nav-manu ul li a {
    font-size: 20px;
    color: white;
}

#xmark {
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: white;
}

#bar {
    display: inline-block;
    font-size: 20px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
}

.nav-manu ul :not(#xmark) {
    padding-left: 10px;
}

/*home*/
.home {
    height: 100vh;
}

.home-from {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.home-text h1 {
    font-size: 2rem;
}

.home-text p {
    font-size: 0.7rem;
    padding: 5px;
}

.from-item {
    margin: 10px 20px;
}

.home-from label {
    font-size: 15px;
}

.home-from input {
    padding: 5px 5px;
    font-size: 10px;
    width: 100%;
}

/*Featured Property Types*/

.featured {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 5px 20px;
}

.featured-proparty h1 {
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
}

.featured-paragrap {
    font-size: 1rem;
}

.featured-box h2 {
    font-size: 0.9rem;
    font-weight: 700;
}

.featured-box p {
    font-size: 0.7rem;
    margin-top: 4px;
}

/*Recent Property Listed*/
.property-box {
    margin-top: 0px;
    padding: 4px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
}

.img-details h4 {
    font-size: 0.8rem;
}

.img-details h5 {
    font-size: 0.6rem;
}

.property-price {
    padding: 10px 5px;
}

.price h3 {
    font-size: 0.5rem;
    padding: 10px 20px;
}

.price span {
    font-size: 0.8rem;
    margin-left: 2px;
}

.property-price h4 {
    font-size: 0.6rem;
}

.location-type {
    font-size: 1rem;
    font-weight: 500;
}

.yellow {
    color: #f39c12;
    font-size: 1rem;
    padding: 10px;
}

.green {
    color: green;
    font-size: 1rem;
    padding: 10px;
}

.property-text h1 {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 30px;
}

.recent-property {
    text-align: center;
    padding: 15px 10px;
}

/*award*/
.award {
    text-align: center;
    margin-top: 40px;
    background-color: #122947;
    padding-bottom: 20px;
}

.award-text p {
    color: white;
    font-size: 20px;
}

.award-box {
    margin-top: 30px;
}

.award-number h1 {
    font-size: 1rem;
}

.award-number p {
    font-size: 0.5rem;
}

.award-number i {
    padding: 20px;
    font-size: 20px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

/*Explore By Location*/
.location {
    text-align: center;
    padding: 10px;
}

.location .loction-text h1 {
    font-size: 2rem;
    padding: 5px;
    color: rgb(45, 57, 84);
}

.location .loction-text p {
    font-size: 1rem;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.loction-img {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
    padding: 20px;
}

.img-details img {
    max-width: 150px;
}

.img-details .img-name {
    padding: 20px 10px;
}

.img-details .img-name h3 {
    font-size: 0.5rem;
}

.img-details .img-name .paragrap {
    font-size: 0.5rem;
}

/* Our Featured Agents */
.agent-box {
    text-align: center;
    display: grid;
    padding:30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap:10px;
}

.our-agent {
    padding: 0px;
}

.agent-heading h1 {
    font-size: 2rem;
    color: rgb(45, 57, 84);
    padding: 10px;
}

.agent-heading p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.agent-details .rating {
    font-size: 10px;
    padding: 10px 15px;
    border-radius: 30px;
    margin: 4px;
}

.img-section img {
    width: 50px;
}

#check {
    transform: translateY(-35px) translateX(25px);
    font-size: 7px;
    padding: 3px;
}

.agent-name h3 {
    font-size: 0.7rem;
}

.img-section .icon i {
    padding: 4px 10px;
}

.agent-name h6 {
    font-size: 0.7rem;
}

.agent-contact h4 {
    padding: 5px;
    font-size: 0.7rem;
}

.agent-contact .fa-phone {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 7px;
    font-size: 0.7rem;
    border-radius: 5px;
    margin: 4px;
}

/*select your package*/
.package-details {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 30px;
}

.package-text h1 {
    font-size: 1.7rem;
    padding: 5px;
}

.package-text p {
    font-size: 0.8rem;
    padding: 5px;
}

.package-header h4 {
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 0.6rem;
}

.package-header h6 {
    font-size: 1rem;
}

.package-header h6 span {
    font-size: 1.5rem;
}

.package-header p {
    font-size: 0.7rem;
}

.package-proparty span {
    font-size: 0.7rem;
    margin-left: 5px;
    font-weight: 100;
}

/*question section */

.question-text h1 {
    font-size: 1rem;
    color: white;
    margin-right: 15px;
}

.question-text p {
    font-size: 0.6rem;
    color: white;
}

.contact-us-today p {
    padding:10px 20px;
    font-size:1rem;
    border-radius: 30px;
}
